@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Helvetica;
  src: url(../src/font/Helvetica.ttf);
}

:root {
  @apply font-['Helvetica'] text-[14px] font-bold tracking-wide;
  background: radial-gradient(58.53% 48.91% at 50% 12.58%, #193470 14.16%, #020612 100%);
  
}

.b-c {
  border-bottom: 1px solid #041e4e;
}



.dropdown {
  @apply relative
}

.dropdown-overlay {
  @apply absolute w-screen h-screen left-0 top-0 z-40
}

.dropdown-btn {
  @apply relative bg-[#212429] font-bold text-xl text-white inline-flex items-center justify-center md:text-[16px];
  @apply h-auto py-3 px-4 gap-1 rounded-xl;
  @apply hover:bg-[#6888D2];
  @apply active:scale-90 transition;
}

.dropdown-list {
  @apply font-bold text-xl p-4 bg-[#212429] z-40 left-0 top-14 absolute rounded-lg w-64 shadow-xl;
}

.dropdown-list li {
  @apply p-2 hover:bg-zinc-700 rounded-lg transition cursor-pointer text-white;
}

.navbar-btn {
  @apply bg-[#41444f] border-none text-white inline-flex items-center justify-center md:text-[16px];
  @apply h-auto py-[0.6rem] px-4 gap-2.5 rounded-xl;
  @apply hover:bg-[#6888D2];
  @apply active:scale-90 transition;
}

.navbar-btn--icon {
  @apply bg-[#41444f] border-none text-white uppercase items-center justify-center text-[16px];
  @apply p-3 gap-2.5 rounded-xl;
  @apply hover:bg-[#6888D2];
  @apply active:scale-90 transition;
}

.navbar-btn--outline {
  @apply text-white inline-flex border items-center justify-center md:text-[16px] font-medium;
  @apply bg-[#1F2E48] text-[#6888D2] border-[#6888D2];
  @apply hover:bg-[#6888D2] hover:text-white hover:border-[#6888D2];
  @apply h-auto py-[0.6rem] px-4 gap-2.5 rounded-xl;
  @apply active:scale-90 transition;
}

.navbar-btn__icon-farm {
  @apply w-5 mb-0.5;
}

.navbar-btn__icon {
  @apply h-5 w-5;
}



.t {
  color: white !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  border: none !important;
  background: #41444f !important;
  padding-right: 0.75rem !important;
  padding-left: 0.75rem !important;
  padding-bottom: 1.75rem !important;
  padding-top: 0.751rem !important;
}

.g {
  color: #6888d2 !important;
  padding-top: 16px;
  padding-bottom: 23px;
  /* min-height: 3rem!important; */
}

.table :where(thead, tfoot) :where(th, td) {
  @apply bg-[#193470] text-[14px] text-white py-6 cursor-pointer;
}

.table {
  @apply overflow-clip rounded-xl border-0 border-collapse bg-[#22252a];
}

.table-row {
  @apply text-white min-w-[100rem];
}

.table th {
  @apply py-4 px-6 uppercase;
}

.table td {
  @apply py-5 px-6 bg-[#22252a];
}

/* .table-row td {
  @apply py-4 after:content-[''] after:absolute after:border-b after:border-black/20 after:w-full after:left-0 after:-bottom-0 after:z-[999];
} */

.cn {
  color: #7fa8f0;
  font-weight: 700 !important;
  font-size: 7px !important;
}

.cr {
  font-weight: 800 !important;
  font-size: 16px !important;
  background-image: url(../src/images/bg.png);
  border-radius: 5px;
}

.cg {
  font-weight: 800 !important;
  font-size: 16px !important;
  background-image: url(../src/images/bgg.png);
  border-radius: 5px;
}

.bgg {
  font-weight: 800 !important;
  font-size: 16px !important;
  color: #7fa8f0 !important;
  background-image: url(../src/images/bgb.png);
  border-radius: 5px;
}

.footer {
  @apply bg-black py-16 px-10 md:px-20 mt-10;
}

.logo-image {
  /* @apply w-[100px]; */
}

.chnger {
  background: #41444f !important;
  padding: 5px !important;
  border-radius: 4px !important;
  color: white !important;
}

.ddm {
  padding-left: 1rem !important;
  padding-right: 2.2rem !important;
  margin-left: -1.4rem !important;
}

.menu :where(li) > :where(*:not(ul)) {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.farmImg {
  width: 70% !important;
}

.brd {
  border-radius: 9px;
}

.ddm li a {
  font-weight: 700 !important;
  font-size: 19px !important;
  color: white !important;
}

.label {
  @apply px-3 py-2 rounded-lg font-bold;
}
